*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --color-principal: #4CAF50;
  --color-secundario: #ffffff;
  --color-terciario: rgb(255, 149, 0);
   --color-cuarto: rgb(255, 0, 0);
  --navbar-texto:'Montserrat';
  --navbar-texto-tamano: 18px;
  --navbar-texto-animacion: 20px;

   /*Moviles*/
  --navbar-texto-tamano-movil: 14px;
  --navbar-texto-animacion-movil: 16px;

   /*Tablets*/
  --navbar-texto-tamano-movil: 15px;
  --navbar-texto-animacion-movil: 17px;
}

.fondo-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./imagenes/fondo2.png');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Manda el fondo al fondo */
  
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* fondo oscuro semi-transparente */
  z-index: 1;
}

/*Header*/

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar{

      position: fixed;
      top: 0;
      width: 100%;
      /* height: 70px; */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 20px;
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.36);
      background-color: rgba(255, 255, 255, 0.8);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 1000;
}

.navbar_menu_items_phone{
  width: 100%;
}

.navbar_menu_items{
  display: flex;
  flex-direction: row;
}

.navbar_menu_items a{
  font-family: var(--navbar-texto);
  font-size: var(--navbar-texto-tamano);
  color: var(--color-principal);
  margin-left: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 100px;
}

.navbar_menu{
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar_menu_phone {
  width: 25px;
  height: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.navbar_menu_phone span {
  display: block;
  height: 3px;
  background: var(--color-principal);
  border-radius: 2px;
  transition: all 0.4s ease;
}

.navbar_menu_items a:hover{
  color: var(--color-cuarto);
  text-decoration: underline;
  font-size: var(--navbar-texto-animacion);
}

.navbar_menu_items svg{
  fill: var(--color-principal);
  width: 25px;
  height: 25px;
}

.navbar_menu_items svg:hover{
  fill: var(--color-cuarto);
  width: 35px;
  height: 35px;
}

.navbar_menu_phone.active span {
  background: var(--color-cuarto);
}



/* Animación del icono hamburguesa → X */
.navbar_menu_phone.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar_menu_phone.active span:nth-child(2) {
  opacity: 0;
}

.navbar_menu_phone.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

.logo_navbar{
  width: 100px;
  height: 90px;
}

.logo_navbar img{
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar h1 {
  margin: 0;
  font-size: 20px;
  color: black;
}

.Contenedor_imagenes {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contenedor_imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover	; 
  object-position: center;
  display: block;
}

.navbar_menu_redes{
  display: flex;
}



@keyframes zoomIn {
  from {
    transform: scale(2);
    filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    transform: scale(1);
    filter: blur(1);
  }
}

.zoom {
  animation: zoomIn 2s ease-in-out;
}
/* fin header*/

/*Inicio del Main*/


/*quienes somos*/
.main-container {
  width: 100%;
}

.seccion {
  padding: 60px 20px;
  text-align: center;
}


.quienes-somos .contenido {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  opacity: 0;
  transform: translateY(50px);
}

.contenido.visible{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s ease-out, transform 2s ease-out;
  will-change: opacity, transform;
}

.quienes-somos .texto {
  flex: 1 1 400px;
  text-align: left;
}

.quienes-somos .texto h2 {
  font-family: var(--navbar-texto);
  font-weight: 800;
  color: var(--color-cuarto);
  font-size: 48px;
  margin-bottom: 20px;
}

.quienes-somos .texto p {
  font-family: var(--navbar-texto);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-secundario);
  /* color: var(--color-secundario); */
}

.quienes-somos .imagen {
  flex: 1 1 400px;
}

.quienes-somos .imagen img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* fin quienes somos*/

/*catalogo*/

.seccion_catalogo{
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
}

.seccion_catalogo.visible{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s ease-out, transform 4s ease-out;
  will-change: opacity, transform;
}

.texto_catalogo{
  text-align: center;
}

.texto_catalogo h2{
  font-family: var(--navbar-texto);
  font-weight: 800;
  color: var(--color-cuarto);
  font-size: 48px;
  text-align: center;
  
}

.catalogo-container {
  padding: 50px 16px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Filtro_catalogo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.total_productos p{
  font-family: var(--navbar-texto);
  font-weight: 500;
  color: var(--color-secundario);
  font-size: 16px;
}

.Ordenar label{
  font-family: var(--navbar-texto);
  font-weight: 500;
  color: var(--color-secundario);
  font-size: 16px;
}

.Ordenar .Filtro_Ordenar{
  width: 250px;
  /* padding-left: 15px; */
  height: 35px;
  border: 1px solid #ccc;
  /* padding: 12px 12px 12px 44px; */
  border: 1px solid var(--color-secundario);
  border-right-color: #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  outline: none;
  color: black;
  font-family: var(--navbar-texto);
  background-color: var(--color-secundario);
}

.catalogo {
  width: 100%;
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  row-gap: 60px;
  margin-bottom: 20px;
  
}

.item {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

/*productos*/
 .product-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px 20px 0px 20px;
  }
  .cards-container .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    background-color: var(--color-secundario);
    border-radius: 4px;
    
  }

  /* .product-info {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.201);
    width: 240px;
    border-radius: 5px;
  } */

  .product-info .product-info-Name{
    font-family: var(--navbar-texto);
    font-weight: 500;
    font-size: 15px;
    /* color: var(--color-secundario); */
    color: rgb(255, 255, 255);
    margin-top: 10px;
  }

  .product-info .product-info-price{
    font-family: var(--navbar-texto);
    font-weight: 500;
    font-size: 15px;
    /* color: var(--color-secundario); */
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .cards-container .product-info figure {
    margin: 0;
  }
  .cards-container .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .cards-container .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .cards-container .product-info div p:nth-child(2) {
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-secundario);
  }

  .product-card:hover {
    
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
  }

  .product-card img:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s;
    filter: contrast(110%) brightness(105%);
  }

  /*detalles del producto*/

  .Busqueda_catalogo{
   margin-top: 50px;
   display: flex;
   width: 100%;
   justify-content: center;
  }

  .Contenedor_busqueda{
    position: relative;
  }
    .Contenedor_busqueda input {
      width: 350px;
      padding-left: 35px;
      height: 45px;
      /* padding: 12px 12px 12px 44px; */
      border: 1px solid var(--color-secundario);
      border-radius: 0px 5px 5px 0px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      outline: none;
      color: black;
      font-family: var(--navbar-texto);
      background-color: var(--color-secundario);
    }

    .Contenedor_busqueda svg {
      position: absolute;
      top: 50%;
      right: calc(50% - 175px  + 16px);
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      pointer-events: none;
    }

    .categoria-select {
      width: 250px;
      padding-left: 15px;
      height: 45px;
      border: 1px solid #ccc;
      /* padding: 12px 12px 12px 44px; */
      border: 1px solid var(--color-secundario);
      border-right-color: #ccc;
      border-radius: 5px 0px 0px 5px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      outline: none;
      color: black;
      font-family: var(--navbar-texto);
      background-color: var(--color-secundario);
    }

    


  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  #product-detail-close:hover {
    cursor: pointer;
  }
  #product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
  #product-detail .product-info {
    margin: 24px 24px 0 24px;
  }
  #product-detail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  #product-detail .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  #product-detail .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*detalles del producto*/

/*fin productos*/

/*Paginacion catalogo*/
.catalogo_paginacion{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.paginacion button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #4caf50;
  color: rgb(6, 255, 51);
  border-radius: 4px;
  cursor: pointer;
}

/* .paginacion button.active {
  background: #388e3c;
} */

.catalogo_paginacion button {
  background-color:rgba(0, 0, 0, 0) ;
  color: var(--color-secundario);
  border: none;
  padding: 8px 16px;
  font-size: 13px;
  cursor: pointer;
  
}

.catalogo_paginacion button:hover {
  text-decoration: underline;
  font-size: 16px;
  border-radius: 100%;
  background-color: var(--color-cuarto);
}


#anterior::before {
  font-family: "Font Awesome 6 Free";
  content: "\f104";
  font-weight: 900; /* necesario para íconos sólidos */
  font-size: 15px;
  color: var(--color-secundario);
}

#siguiente::before {
  font-family: "Font Awesome 6 Free";
  content: "\f105";
  font-weight: 900; /* necesario para íconos sólidos */
  font-size: 15px;
  color: var(--color-secundario);
}

#anterior:hover {
  background-color: var(--color-cuarto);
}

#siguiente:hover {
  background-color: var(--color-cuarto);
}
/*fin paginacion Catalogo*/

/*Punto de venta*/

.seccion_punto_venta{
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
}

.seccion_punto_venta.visible{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 3s ease-out, transform 3s ease-out;
  will-change: opacity, transform;
}


.texto_punto_venta{
  text-align: center;
}

.texto_punto_venta h2{
  font-family: var(--navbar-texto);
  font-weight: 800;
  color: var(--color-cuarto);
  font-size: 48px;
  text-align: center;
}

.mapa_punto_venta{
  padding: 50px 16px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto_punto_venta_horario{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto_punto_venta_horario h3{
  font-family: var(--navbar-texto);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--color-secundario);
}

.texto_punto_venta_horario h4{
  font-family: var(--navbar-texto);
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: var(--color-cuarto);
  margin-top: 15px;
}

.texto_punto_venta_horario p{
  font-family: var(--navbar-texto);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.burbuja_whatsapp {
    position: fixed;
    right: 20px;
    bottom: 24px;
    z-index: 1000;
    cursor: pointer;
}
/*fin del Main*/

/*footer*/
footer{
  background-color: var(--color-principal);
  width: 100%;
}

/* .superior{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 60px;
} */

.item_1{
  padding: 25px;
}

.superior h1{
  font-family: var(--navbar-texto);
  font-weight: 600;
  color: var(--color-secundario);
  font-size: 18px;
  border-bottom: 2px solid var(--color-secundario);
  padding-bottom: 3px;
  width: 300px; /* más ancho que el texto */
}

.superior li{
  font-family: var(--navbar-texto);
  font-weight: 500;
  color: var(--color-secundario);
  font-size: 16px;
  padding-top: 10px;
  list-style: none;
}

.superior a{
  font-family: var(--navbar-texto);
  font-weight: 500;
  color: var(--color-secundario);
  font-size: 16px;
  padding-top: 10px;
  text-decoration: none;
}

.superior{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.item_2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_entidades{
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_entidades_contenedor{
  width: 200px;
  height: 150px;
}

.footer_entidades_contenedor img{
  width: 100%;
  height: 100%;
}

.item_3{
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer_icontec{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_icontec_contenedor{
  width: 200px;
  height: 80px;
}

.footer_icontec_contenedor img{
  width: 100%;
  height: 100%;
}

.item_4{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_Escudo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_Escudo_contenedor{
  width: 100px;
  height: 80px;
}

.footer_Escudo_contenedor img{
  width: 100%;
  height: 100%;
}

.Inferior{
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--color-secundario);
}

.Inferior h1{
 font-family: var(--navbar-texto);
  font-weight: 600;
  color: var(--color-secundario);
  font-size: 18px;
}

.Inferior a{
 font-family: var(--navbar-texto);
  font-weight: 600;
  color: var(--color-secundario);
  font-size: 18px;
}
/*Fin footer*/


/*responsive*/

/*Header*/
@media (max-width: 1310px) {
  .navbar_menu_redes {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 500px) {

  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .navbar_menu_items{
    display: none;
  }


  .navbar{
    /* height: 60px; */
    transition: height 0.4s ease;
  }

  .logo_navbar{
    width: 80px;
    height: 70px;
  }

  .navbar_menu_phone {
   display: flex;
 }

.mapa_punto_venta iframe{
  width: 100%;
}

.quienes-somos .texto {
  text-align: center;
}


.quienes-somos .texto h2 {
  font-size: 24px;
}

.texto_catalogo h2{
  font-size: 22.5px; 
}

.texto_punto_venta h2{
  font-size: 24px;
}

.texto_punto_venta_horario h3{
  font-size: var(--navbar-texto-tamano-movil);
}

.texto_punto_venta_horario h4{
  font-size: var(--navbar-texto-tamano-movil);
}

.texto_punto_venta_horario p{
  font-size: var(--navbar-texto-tamano-movil);
}


.quienes-somos .texto p {
  font-size: var(--navbar-texto-tamano-movil);
  line-height: 1.6;
  text-wrap: inherit;
}


.superior{
  position: relative;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.catalogo {
  width: 100%;
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  row-gap: 60px;
  margin-bottom: 20px;
  
}

.superior h1{
  font-size: var(--navbar-texto-tamano-movil);
   
}

.superior li{
  font-size: var(--navbar-texto-tamano-movil);
}

.superior a{
  font-size: var(--navbar-texto-tamano-movil);
}

.item_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item_1 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.item_1 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contenedor_imagenes {
    aspect-ratio: 4 / 3; /* un poco más cuadrada para móviles */
  }


.footer_Escudo_contenedor{
  width: 80px;
  height: 60px;
}

.footer_Escudo_contenedor img{
  width: 100%;
  height: 100%;
}

.item_4{
  margin-top: 20px;
  margin-bottom: 20px;
}

.Inferior{
  height: 40px;
  width: 100%;
}

.Inferior h1{
 font-size: var(--navbar-texto-tamano-movil);
}

.Inferior a{
 font-size: var(--navbar-texto-tamano-movil);
}

}

/*fin header*/